.sidebar {
  background-color: linear-gradient(270deg, #0048bd 31%, #0021ff 67%, #002c72 100%);
  min-height: 100vh; 
  position: fixed; 
  top: 0; 
  left: 0; 

  box-shadow: 0px 0px 20px rgba(11, 1, 100, 0.3);
  overflow-y: auto; 
}

  .sidebar .custom-menu-item{
    color: #ffffff;
    font-weight: bold;
  }

  .sidebar .custom-menu-item :hover{
    background-color: #9DD8B3 !important;
  }

  main{
    padding: 10px;
  }
  
  .container{
    background-color: #ffffff;
    padding: 35px;
    box-shadow: 0px 0px 20px rgba(11, 1, 100, 0.3);
    width: 100%;
  }
